---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import ToogleDarkBtn from "../components/ToggleDarkBtn.astro";
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Liz" description="Choquehuanca" />
  </head>
  <body>
    <ToogleDarkBtn />

    <main>
      <Hero />
    </main>
  </body>
</html>
